

@media (max-width: 1024px) {
  .text-container {
      font-size: 2.5vw;
      padding-top: 8vh;
      padding-left: 3vw;
      padding-bottom: 3vh;
  }

  .ftext, .thtext {
      font-size: 80px;
  }

  .triangles {
      width: 70%;
      height: 200px;
  }
}

@media (max-width: 768px) {
  .text-container {
      font-size: 2vw;
      padding-top: 6vh;
      padding-left: 2vw;
      padding-bottom: 2vw;
  }

  .ftext, .thtext {
      font-size: 60px;
  }

  .triangles {
      width: 90%;
      height: 150px;
  }
}

@media (max-width: 414px) {
  .text-container {
      font-size: 1.5vw;
      padding-top: 4vh;
      padding-left: 1vw;
      padding-bottom: 1vw;
  }

  .ftext, .thtext {
      font-size: 40px;
  }

  .triangles {
      width: 100%;
      height: 100px;
  }
}

@media (max-width: 360px) {
  .text-container {
      font-size: 1.2vw;
      padding-top: 3vh;
      padding-left: 1vw;
      padding-bottom: 1vw;
  }

  .ftext, .thtext {
      font-size: 30px;
  }

  .triangles {
      width: 100%;
      height: 80px;
  }
}
