@keyframes textmove1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes moveRectangles {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes cursoor {
  0% {
    transform: translate(400px, 100px);
  }
  10% {
    transform: translate(1600px, 300px);
  }
  25% {
    transform: translate(1120px, 450px);
  }
  35% {
    transform: translate(1120px, 450px);
  }
  50% {
    transform: translate(1800px, 900px);
  }
  75% {
    transform: translate(1120px, 450px);
  }
  85% {
    transform: translate(1120px, 450px);
  }
  100% {
    transform: translate(400px, 100px);
  }
}
@keyframes changeImages {
  0% {
    background-image: url("../images/grma1.jpg");
  }
  25% {
    background-image: url("../images/grma1.jpg");
  }
  35% {
    background-image: url("../images/grma2.jpg");
  }
  75% {
    background-image: url("../images/grma2.jpg");
  }
  85% {
    background-image: url("../images/grma1.jpg");
  }
  100% {
    background-image: url("../images/grma1.jpg");
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(-600px);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(600px);
  }
}
