html {
    background-color: black;
    width: 100%;
    height: 100%;
}

.first {
    background-color: red;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    line-height: 150px;
    font-family: 'Inter', sans-serif;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 1111px;
    position: relative;
}

.fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    background-color: white;
}

.fivth {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.sixth {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.seventh {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.eighth {
    background-color: red;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-family: 'Inter', sans-serif;
}

.ninth {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.fredline {
    display: inline-block;
    animation: textmove1 4s linear infinite;
}

.sline {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.sline img {
    max-width: 100%;
    max-height: 100%;
}

.foline {
    display: flex;
    flex-direction: column;
    width: 66%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.eredline {
    display: inline-block;
    animation: textmove1 4s linear infinite;
}

.seline img {
    max-width: 100%;
    max-height: 100%;
}

.bottomline img {
    max-width: 100%;
    max-height: 100%;
}

.siline img {
    width: 100%;
    height: 100%;
}

.bottomline img {
    width: 100%;
    height: 320px;
}

.orange-rectangles {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    background-color: whitesmoke;
}

.rectangle {
    width: 105px;
    height: 16.5px;
    background-color: #DD0301;
    margin-right: 10px;
    animation: moveRectangles 0.5s linear infinite;
}

.image-container1 img {
    width: 100%;
    height: 878px;
}

.image-container2 img {
    width: 100%;
    height: 619px;
}

.text-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    font-size: 3vw;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-bottom: 5vh;
}

.ftext {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
}

.dynamic-text .highlight {
    font-weight: normal;
    font-style: normal;
    transition: font-weight 0.3s, font-style 0.3s;
}

.dynamic-text .highlight:hover {
    font-weight: bold;
    font-style: italic;
}

.thtext {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 100px;
    font-family: "Rubik";
}

.text span {
    transition: font-weight 0.3s, font-style 0.3s;
}

.text span:hover {
    font-weight: bold;
    font-style: italic;
}

.theater {
    font-family: "InterBlack";
    color: red;
    font-weight: 900;
}

.interact, .place, .visitors, .flaws1, .end1, .end2 {
    font-family: "InterMedium";
    color: black;
    font-weight: 500;
}

.broken, .flaws2 {
    font-family: "InterMedium";
    color: red;
    font-weight: 500;
}

.mirrors {
    color: red;
    font-weight: 200;
    font-family: "InterThinItalic";
}

.helps {
    color: red;
    font-weight: 300;
    font-family: "InterLightItalic";
    font-style: italic;
}

.love {
    color: red;
    font-weight: 600;
    font-family: "InterSemiBoldItalic";
}

.cursor {
    position: sticky;
    animation: cursoor 5s infinite ease-out;
}

.grma1 {
    background: url(../images/grma1.jpg);
    animation: changeImages 5s infinite ease-out;
    width: 100%;
    height: 1111px;
}

.three {
    position: relative;
    width: 100%;
    height: 100%;
}

.babushka {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-container span {
    transition: font-weight 0.3s, font-style 0.3s;
}

.text-container span:hover {
    font-weight: bold;
    font-style: italic;
}

.triangles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 300px;
}

.l1, .r1, .c1 {
    position: relative;
}

.l1 img, .r1 img {
    width: 100%;
    height: 100%;
    animation: moveUp 2s linear infinite;
}

.c1 img {
    width: 100%;
    height: 100%;
    animation: moveDown 2s linear infinite;
}

.filine img {
    width: 100%;
    height: 100%;
}

.seline img {
    width: 100%;
    height: 100%;
}

.ninth img {
    width: 100%;
    height: 100%;
}

.babushka img {
    width: 100%;
    height: 100%;
}